body {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 5%;
  border-radius: 5px;
}

.row-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 75%);
}

.hidden {
  display: none;
}

.blue-button {
  background-color: #858ae3;
  color: white;
  height: 50px;
  width: 250px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 5px 10px rgb(85 84 84);
}

.orange-button {
  background-color: #ef7a85;
  color: white;
  border-radius: 5px;
  width: 35%;
  border: none;
  padding: 5%;
  margin: 5%;
  font-size: 115%;
  box-shadow: 0 5px 10px rgb(85 84 84);
}

.font {
  font-family: Roboto, sans-serif;
  font-size: 125%;
}

.font-bold {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
