.container {
  max-width: 1346px;
  margin-left: auto;
  margin-right: auto;
}

.heading-row {
  display: flex;
}

.row-second {
  display: flex;
}

.row-third {
  display: flex;
}

.row-button {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.column-one-third {
  display: flex;
}

.column-margin {
  margin-left: 296.32px;
}

.text-align-center {
  line-height: 30px;
  text-align: center;
}

#intro {
  width: 1394px;
  padding-left: 245px;
  padding-right: 255px;
}

section {
  text-align: left;
  width: 353.75px;
  line-height: 35px;
}

h1 {
  font-size: 4rem;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/karla/v7/qkBWXvYC6trAT7zuC8m5xLtlmgzD.woff2") format("woff2");
  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}

h3 {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/karla/v7/qkBWXvYC6trAT7zuC8m5xLtlmgzD.woff2") format("woff2");
  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}

p {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RVLtyU5rZP.woff2") format("woff2");
  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}

button {
  padding: 10px 45px;
  font-size: 1rem;
  border: solid;
  border-width: 2px;
  border-color: #dc2f02;
  background-color: white;
  color: #dc2f02;
  text-align: center;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RVLtyU5rZP.woff2") format("woff2");
  unicode-range:
    u+0000-00ff,
    u+0131,
    u+0152-0153,
    u+02bb-02bc,
    u+02c6,
    u+02da,
    u+02dc,
    u+2000-206f,
    u+2074,
    u+20ac,
    u+2122,
    u+2191,
    u+2193,
    u+2212,
    u+2215,
    u+feff,
    u+fffd;
}
